body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://account.usalliance.org/image-viewer/channel-art/015208c8-e2ba-11ed-a0cf-06b4aea7aa83?revision=1688562435000');
    background-size: cover;
    background-position: center;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 400px; 
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu {
    text-align: center;
}

.menu a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

.success-message {
    color: #4CAF50;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu {
    text-align: center;
}

.menu a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

.success-message {
    color: #4CAF50;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

 table {
    width: 100%;
    border-collapse: collapse;
 }

 th, td {
    padding: 10px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }

 th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
 }

 tr:hover {
    background-color: #f2f2f2;
 }

 .actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
 }

 .actions a:hover {
    text-decoration: underline;
 }

 td {
    white-space: nowrap;
 }